<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Pokemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">New Pokemon</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/editRandomList}" th:object="${list}" method="post">
                <div class="row">
                    <table class="table table-striped table-responsive-md">
                        <thead>
                        <tr>
                            <th>Selected</th>
                            <th>Name</th>
                            <th>Level</th>
                            <th>Health</th>
                            <th>Strength</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pokemon, state : ${pokemons}">
                            <td>
                                <div class="form-group col-md-6">
                                    <label for="name" class="col-form-label">Name</label>
                                    <input type="text" th:field="*{pokemons[__${state.index}__].name}" class="form-control" id="name"
                                           placeholder="Name">
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-6">
                                    <label for="level" class="col-form-label">Level</label>
                                    <input type="text" th:field="*{pokemons[__${state.index}__].level}" class="form-control" id="level"
                                           placeholder="Level">
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-6">
                                    <label for="level" class="col-form-label">Health</label>
                                    <input type="text" th:field="*{pokemons[__${state.index}__].health}" class="form-control" id="homeTown"
                                           placeholder="Health">
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-6">
                                    <label for="strength" class="col-form-label">Strength</label>
                                    <input type="text" th:field="*{pokemons[__${state.index}__].strength}" class="form-control" id="strength"
                                           placeholder="Strength">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Add Pokemon">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>